* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none; /* 👈 Saca los puntos */
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px; /* Espacio entre los módulos */
  flex-wrap: wrap;
  flex-direction: column;
}

.cassette-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Bloque visual del módulo */
.modulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100px;
  height: 100px;
  padding: 8px;

  border-radius: 12px;
  background-color: #f0f0f0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  position: relative;
  font-family: 'Arial', sans-serif;
  transition: transform 0.2s;
}

.modulo:hover {
  transform: scale(1.05);
}

.modulo .materia {
  font-size: 0.8rem;
  /* font-weight: bold; */
  color: #020202;
  /* margin: 2px 0; */
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.profesor {
  font-size: 0.7rem;
  color: #3e3e3e;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

/* Drag handle ⠿ dentro del módulo
.cassette-handle {
  position: relative;
  font-size: 0.9rem;
  color: #000000;
  cursor: grab;
  user-select: none;
} */
